body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 232, 232);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    background:#000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 82%;
    max-width :420px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: row;
}
.searchbar {
    border-radius: 18px;
    padding-left: 1em;
    border: #222;
    background: #7c7c7c2b; 
    color :aliceblue;
    outline: none;
}
.searchbar:focus{
    box-shadow: 0 0 0 2px whitesmoke; 
}
.subbutton{
    margin-left: 0.5em;
    height: 2.5em;
    width: 2.5em;
    border: #222;
    background:#7c7c7c2b;
    border-radius: 100%;
    padding: 0.7em;
    padding-top: 0.7em;
    cursor: pointer;
    outline: none;
}
.subbutton:hover{
    background-color: rgb(35, 39, 39);
}
.subbutton img{
    display: flex;
    justify-items: center;
    align-items: center;
}
.location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.temperature,.temperature-des{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.degree{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree span{
    margin: 2px;
    font-size: 22px;
}
.weather{
    visibility: hidden;
    max-height: 35px;
    position: relative;
}
.weather::after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 10px;
    right: 50px;
}

